<table class="table">
    <tr>
        <th>Select Student</th>
        <td>@Html.DropDownList("studentList",string.Empty )</td>
    </tr>
    <tr>
        <th>Select Exam</th>
        <td>
            @Html.DropDownList("ExamType", string.Empty)
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="GO" /></td>
    </tr>
</table>

